@model WineryApp.ViewModels.Izvješća.Podrumi.IzvješćaPodrumiViewModel
@{
    ViewData["Title"] = "Izvješća - Podrumi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<div class="container">
    <div class="form-group row">

        <div class="col-2 blur-box">
            <div class="p-2">
                <a style="color: black" asp-action="Zadaci"><h5 class="text-center mt-2">Zadaci</h5></a>
                <br />
                <a style="color: black" asp-action="Zaposlenici"><h5 class="text-center mt-2">Zaposlenici</h5></a>
                <br />
                <a style="color: black" asp-action="Podrumi"><h5 class="text-center mt-2"><b><i>Podrumi</i></b></h5></a>
                <br />
                <a style="color: black" asp-action="Spremnici"><h5 class="text-center mt-2">Spremnici</h5></a>
                <br />
                <a style="color: black" asp-action="Aditivi"><h5 class="text-center mt-2">Aditivi</h5></a>
                <br />
                <a style="color: black" asp-action="UzorciZaAnalizu"><h5 class="text-center mt-2">Uzorci za analizu</h5></a>
            </div>
        </div>

        <div class="col-1"></div>

        <div class="col-9">
            <div class="container-fluid blur-box">
                <form id="izvješćeForm" asp-action="GenerirajIzvješćePodrumi" method="post" class="p-1">
                    <div class="row">
                        <div class="col-6 p-2">
                            <h4 class="text-left">Format:</h4>
                        </div>

                        <div class="col-3 p-2">
                            <div class="custom-radio">
                                <label class="form-check-label">
                                    <input asp-for="Input.Format" type="radio" class="form-check-input" value="1">
                                    <h4>PDF</h4>
                                </label>
                            </div>
                        </div>
                        <div class="col-3 p-2">
                            <div class="custom-radio">
                                <label class="form-check-label">
                                    <input asp-for="Input.Format" type="radio" class="form-check-input" value="2">
                                    <h4>Excel</h4>
                                </label>
                            </div>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="ml-2" asp-for="Input.BerbaId"></label>
                        <select asp-for="Input.BerbaId" class="form-control"
                                asp-items="@Model.Berbe.Select(i => new SelectListItem(i.GodinaBerbe.ToString(), i.BerbaId.ToString()))">
                            <option selected value="-1">Sve</option>
                        </select>
                    </div>
                    <div class="form-group row">
                        <label class="ml-2" asp-for="Input.SortaVinaId"></label>
                        <select asp-for="Input.SortaVinaId" class="form-control"
                                asp-items="@Model.SorteVina.Select(i => new SelectListItem(i.NazivSorte, i.SortaVinaId.ToString()))">
                            <option selected value="-1">Sve</option>
                        </select>
                    </div>
                    <div class="row justify-content-center">
                        <button type="submit" class="btn btn-sm btn-primary">Izradi izvješće</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>