@model WineryApp.ViewModels.Aditivi.AditiviIM

@{
    ViewData["Title"] = "Uređivanje aditiva";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container blur-box">
    <br/>
    <h1 class="d-flex justify-content-center">Uredi - @Model.ImeAditiva</h1>

    <hr/>
    <div class="row d-flex justify-content-center">
        <div class="col-md-4">
            <form asp-action="Edit" asp-route-returnUrl="@ViewBag.returnUrl">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="AditivId" />
                <div class="form-group">
                    <label asp-for="VrstaAditivaId" class="control-label"></label>
                    <select asp-for="VrstaAditivaId" class="form-control" 
                            asp-items="ViewBag.VrsteAditiva"></select>
                    <span asp-validation-for="VrstaAditivaId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImeAditiva" class="control-label"></label>
                    <input asp-for="ImeAditiva" class="form-control" />
                    <span asp-validation-for="ImeAditiva" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Koncentracija" class="control-label"></label>
                    <input asp-for="Koncentracija" class="form-control" />
                    <span asp-validation-for="Koncentracija" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Količina" class="control-label"></label>
                    <input asp-for="Količina" class="form-control" />
                    <span asp-validation-for="Količina" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Instrukcije" class="control-label"></label>
                    <textarea asp-for="Instrukcije" class="form-control"></textarea>
                    <span asp-validation-for="Instrukcije" class="text-danger"></span>
                </div>
                <div class="form-group d-flex justify-content-between">
                    <input type="submit" value="Izmjeni" class="btn btn-primary" />
                    <a asp-action="Nazad" asp-route-returnUrl="@ViewBag.returnUrl" class="btn btn-outline-danger">Nazad</a>
                </div>
            </form>
        </div>
    </div>
</div>