@model WineryApp.Data.Entiteti.Aditiv

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Edit</h1>

<h4>Aditiv</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="AditivId" />
            <div class="form-group">
                <label asp-for="ImeAditiva" class="control-label"></label>
                <input asp-for="ImeAditiva" class="form-control" />
                <span asp-validation-for="ImeAditiva" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Koncentracija" class="control-label"></label>
                <input asp-for="Koncentracija" class="form-control" />
                <span asp-validation-for="Koncentracija" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Količina" class="control-label"></label>
                <input asp-for="Količina" class="form-control" />
                <span asp-validation-for="Količina" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Instrukcije" class="control-label"></label>
                <input asp-for="Instrukcije" class="form-control" />
                <span asp-validation-for="Instrukcije" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="VrstaAditivaId" class="control-label"></label>
                <select asp-for="VrstaAditivaId" class="form-control" asp-items="ViewBag.VrstaAditivaId"></select>
                <span asp-validation-for="VrstaAditivaId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

