@model WineryApp.ViewModels.Aditivi.AditiviViewModel

    <form id="filterform" asp-action="Filter" method="post" class="p-1">
        <h5 class="text-center mt-2">Filter</h5>
        <hr />
        <div class="form-group row">
            <label class="ml-2" asp-for="Filter.VrstaAditivaId"></label>
            <select asp-for="Filter.VrstaAditivaId" class="form-control"
                    asp-items="ViewBag.VrsteAditiva">
                <option selected value="">Odaberite vrstu aditiva</option>
            </select>
        </div>
        <div class="row justify-content-center">
            <button type="submit" class="btn btn-sm btn-primary fas fa-filter"> Filtriraj</button>
        </div>
    </form>
