@model WineryApp.ViewModels.Podrumi.PodrumIM

@{
    ViewData["Title"] = "Uređivanje podruma";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container blur-box">
    <div class="row">
        <div class="col-md-12">
            <br/>
            <div class="row justify-content-between">
                <div>
                    <h2 class="ml-3">@Model.ŠifraPodruma</h2>
                    <h4 class="ml-3">Uređivanje</h4>
                </div>
                <div>
                    <button type="submit" form="uređivanjePodrumaForm" class="btn btn-outline-primary">Izmjeni</button>
                    <a asp-action="Nazad" asp-route-returnUrl="@ViewBag.returnUrl" class="btn btn-outline-danger mr-3">Nazad</a>
                </div>
            </div>
            <form id="uređivanjePodrumaForm" asp-action="Edit" asp-route-returnUrl="@ViewBag.returnUrl">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="PodrumId"/>
                <table class="table">
                    <tbody>
                    <tr class="form-group">
                        <td>
                            <label asp-for="ŠifraPodruma" class="control-label"></label>
                        </td>
                        <td>
                            <input asp-for="ŠifraPodruma" class="form-control" />
                            <span asp-validation-for="ŠifraPodruma" class="text-danger"></span>
                        </td>
                    </tr>
                    <tr class="form-group">
                        <td>
                            <label asp-for="Lokacija" class="control-label"></label>
                        </td>
                        <td>
                            <input asp-for="Lokacija" class="form-control"/>
                            <span asp-validation-for="Lokacija" class="text-danger"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>
</div>
</div>