@model WineryApp.ViewModels.Partneri.PartnerIM

@{
    ViewData["Title"] = "Uređivanje partnera";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container blur-box">
    <div class="row">
        <div class="col-md-12">
            <br />
            <div class="row justify-content-between">
                <div>
                    <h2 class="ml-3">@Model.ImePartnera</h2>
                    <h4 class="ml-3">Uređivanje</h4>
                </div>
                <div>
                    <button type="submit" form="uređivanjePartneraForm" class="btn btn-outline-primary">Izmjeni</button>
                    <a asp-action="Nazad" asp-route-returnUrl="@ViewBag.returnUrl" class="btn btn-outline-danger mr-3">Nazad</a>
                </div>
            </div>
            <form id="uređivanjePartneraForm" asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="PartnerId" />
                <table class="table">
                    <tbody>
                        <tr class="form-group">
                            <td>
                                <label asp-for="ImePartnera" class="control-label"></label>
                            </td>
                            <td>
                                <input asp-for="ImePartnera" class="form-control" />
                                <span asp-validation-for="ImePartnera" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr class="form-group">
                            <td>
                                <label asp-for="OIB" class="control-label"></label>
                            </td>
                            <td>
                                <input asp-for="OIB" class="form-control" />
                                <span asp-validation-for="OIB" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr class="form-group">
                            <td>
                                <label asp-for="KontaktBroj" class="control-label"></label>
                            </td>
                            <td>
                                <input asp-for="KontaktBroj" class="form-control" />
                                <span asp-validation-for="KontaktBroj" class="text-danger"></span>
                            </td>
                        </tr>
                        <tr class="form-group">
                            <td>
                                <label asp-for="Adresa" class="control-label"></label>
                            </td>
                            <td>
                                <input asp-for="Adresa" class="form-control" />
                                <span asp-validation-for="Adresa" class="text-danger"></span>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </form>
        </div>
    </div>
</div>